html {
  font-family: helvetica;
  background-color: white;
}
.background {
  position: absolute;
  z-index: -2;
  background-color: hsl(0, 100%, 100%);
  height: 10.1vw;
  padding: 0;
}
#background-one {
  margin-top: .25vw;
  height: 1.5vw;
  background-color: black;
  width: 100%;
  z-index: 0;
}
#background-two {
  margin-top: 6.7vw;
  height: 1.2vw;
  background-color: black;
  width: 100vw;
  z-index: 0;
}
header {
  display: flex;
  justify-content: center;
  z-index: 1;
}
header nav {
  display: flex;
}
header #logo img {
  height: 10vw;
  width: auto;
  border: .05vw solid black;
  border-radius: .2vw .2vw .2vw .2vw;
  margin-right: .25vw;
  background-color: white;
}
.info-bar a {
  font-size: 1vw;
  padding: .25vw .25vw .25vw .25vw;
  margin: .25vw .75vw .25vw 0vw;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.info-bar a:hover {
  color: hsl(0, 5%, 85%);
  transition-duration: 150ms;
}
#current-page {
  color: hsl(0, 5%, 85%);
}
.product-bar img {
  display:block;
  margin: auto;
  height: 5.75vw;
  width: auto;
}
.product-bar a {
  display:block;
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
  padding: .1vw .2vw .1vw .2vw;
  margin: .1vw .2vw .1vw 0vw;
  border: .05vw solid black;
  background-color: hsl(0, 5%, 85%);
}
.product-bar a:hover {
  background-color: white;
}
@media only screen and (min-width: 768px){
  .show-image {
    opacity:0;
  }
}
body {
  margin: 0;
  padding: 0;
}
.billboard-default {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1vw 25vw 0vw 25vw;
  background-size: contain;
  height: 25vw;
  width: 50vw;
  background-repeat: no-repeat;
  border: .1vw solid black;
  background-image: url('../pictures/billboards/billboard-one.jpg');
  z-index: -1;
  transition:background-image;
  transition-duration: 250ms;
  padding: 0;
}
.billboard-one {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1vw 25vw 0vw 25vw;
  background-size:contain;
  height: 25vw;
  width: 50vw;
  background-repeat: no-repeat;
  border: .1vw solid black;
  background-image: url('../pictures/billboards/billboard-one.jpg');
  z-index: 0;
  transition:background-image;
  transition-duration: 250ms;
  padding: 0;
}
.billboard-two {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1vw 25vw 0vw 25vw;
  background-size:contain;
  height: 25vw;
  width: 50vw;
  background-repeat: no-repeat;
  border: .1vw solid black;
  background-image: url('../pictures/billboards/billboard-two.jpg');
  z-index: 0;
  transition:background-image;
  transition-duration: 250ms;
  padding: 0;
}
.billboard-three {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1vw 25vw 0vw 25vw;
  background-size:contain;
  height: 25vw;
  width: 50vw;
  background-repeat: no-repeat;
  border: .1vw solid black;
  background-image: url('../pictures/billboards/billboard-three.jpg');
  z-index: 0;
  transition:background-image;
  transition-duration: 250ms;
  padding: 0;
}

.billboard-buttons {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 1.5vw;
  margin: 0 25vw 0 25vw;
  background-color: black;
  border: .1vw solid black;
  padding: 0;
}
body li {
  display: inline-block;
  height: .75vw;
  width: .75vw;
  background-color: white;
  margin: auto .75vw auto .75vw;
  border-radius: 1vw;
  cursor: pointer;
  padding: 0;
}
.current-billboard-button {
  background-color: hsl(0, 5%, 70%);
  transition: background-color;
  transition-duration: 250ms;
}
footer {
  margin: 1vw 0 0 0;
  display: flex;
  justify-content: center;
  background-color: hsl(0, 5%, 85%);
  padding: 0;
  border-top: .05vw solid black;
  border-bottom: .05vw solid black;
}
footer div {
  margin-left: 5vw;
  margin-right: 5vw;
}
footer div p {
  font-size: .9vw;
  line-height:.1vw;
}
footer div h3 {
  font-size: 1vw;
  font-weight: bold;
}
